 .slider {
 z-index: 9;
 width: 700px;
 height: 290px;
 overflow: hidden;
 margin: 0 auto;
 position: relative;
 margin-top:10px;
 border-radius:20px;
 }
 .slider ul,
 .slider li {
 padding: 0;
 margin: 0;
 list-style-type: none;
 }
 .slider ul {
 width: 9999px; 
 }
 .slider ul li {
 list-style-type: none;
 float: left;
 width: 700px;
 height: 290px;
 }
 .slider .nav {
 position: absolute;
 left: 290px;
 bottom: 12px; 
 }
 .slider .nav span {
 opacity: 1;
 background: #fff;
 margin: 0 8px 0 0;
 width: 16px;
 height: 16px;
 border-radius: 8px;
 cursor: pointer;
 overflow: hidden;
 display: block;
 float: left;
 box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
 background: #2e9419;
 }
 
 .arrows {
    position: absolute;
    float: left;
    z-index: 100;
    width: 754px;
    margin-top: 120px;
	margin-left:426px;
	display:block;
}
.arrows .arrowprev {
    float: left;
    background: url("https://4.downloader.disk.yandex.ua/disk/b1be0d85a3a8222ff79da939a7ee4d6080e2ed348a8c07601eb2daa5bab6e25c/575ddeba/RIkH3CmIQX69W9PDzp5jFqcudHOSJfv0dDd6poPuJpHiKBKk9it651ZBwjwx8j3IiL24h2Ohd2d-mHTjjYMMDg%3D%3D?uid=0&filename=arrow-prev.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=1557&hid=ba0c5c2a5584c117ceadba3fb004592c&media_type=image&tknv=v2&etag=bc273e26e577babc8044b0a8a86358d0") no-repeat scroll 0% 0% transparent;
	cursor:pointer;
}
.arrows .arrownext {
    background: url("https://1.downloader.disk.yandex.ua/disk/73149a737233bb8d681b3b43e93ecc17d6cb94ad097d6454414afff28a37b0fb/575ddeb5/T_y_CApyoBk0EROoL0F63k4qYYAM8amHVsGQ6gLiMZt2HAmRb_-jGzW7TD7XWZtXX_RztDSGXDcvAj4Rz_c_pw%3D%3D?uid=0&filename=arrow-next.png&disposition=inline&hash=&limit=0&content_type=image%2Fpng&fsize=1561&hid=873e001f1d1776ef32f55478fb7db51f&media_type=image&tknv=v2&etag=15d6fe778c4df2494a7af4e098aad4ff") no-repeat scroll 0% 0% transparent;
    float: right;
	cursor:pointer;
}

.arrows .arrownext, .arrows .arrowprev {
    width: 30px;
    height: 50px;
    z-index: 1000;
    display: block;
    text-indent: -9000px;
}

 .arrow_prev {
  opacity:0;
  cursor:pointer;
  position:relative;
  left:177px;
  top:180px;
}

.arrow_next {
  opacity:0;
  cursor:pointer;
  position:relative;
  right:176px;
  float:right;
  top:180px;
}
 
 