
body
{
    margin:0px;
    padding:0px;
    min-width:1500px;									/*мин. ширина при масштабировании окна */
    background-size: cover;
    /*background: url(../images/fon-2.png) no-repeat fixed center;*/
    background-color: #73707f;
}

div {margin:0px auto; display: block;}

/*шапка сайта*/
.header_container {
    min-width:1100px; width: 1100px;
    z-index:100;

}
/*.login_menu{*/
    /*min-width:200px;*/
    /*float:right;		!*обтекание элемента по правому краю*!*/
    /*height:100px;*/
    /*background-color:#ccc5cc;*/
    /*width:15%;*/
    /*padding:15px 10px 10px 10px;*/
    /*border-radius:9px 0 0 8px;*/
    /*overflow:hidden;*/
/*}*/
.title {
    float: inherit;
    min-width:800px;
    width:830px;
    height:75px;
    margin-left:250;
    text-align:center;
    padding:25px;
    background-color:#cFccff;
    overflow:hidden;
    /*border-radius: 0 8px 8px 0;*/
}
/*Меню*/
.menu_container
{
    margin-top:-15px;
    margin-left:-10px;

}
ul.menu li {
    position: relative;
    display: inline-block;
    background: #797;
    list-style: none;
    padding: 2px 2px;
    text-align:center;
    border-radius:8px;
    z-index:100;
}
ul.menu li:hover {
    background: green;
    position:relative;
}
ul.menu li a{
    color: #fff;
    font-family: Algerian;
    text-decoration: none;
}
ul.menu li ul{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width:100%;
    margin: 0;
    padding: 0;
    transition: visibility 0.5s, opacity 0.5s;

}
ul.menu li:hover>ul{
    visibility: visible;
    opacity: 1;
}
ul.menu li li{
    display: block;
    white-space: nowrap;
    width:100%;
}

ul.menu li ul li ul{
    position: absolute;
    top: 0;
    left: 102%; /*второй и последующие уровни расскрываются вправо*/
    visibility: hidden;
    opacity: 0;
}

/*Конец меню*/


ul.header li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: greenyellow;
    list-style: none;
    padding: 2px 2px;
    text-align:center;
    border-radius:8px;
    z-index:100;
}
ul.header li:hover {
    background: green;
    position:relative;
}

ul.content li {
    position: relative;
    display: inline-block;
    background: mediumspringgreen;
    vertical-align: middle;
    list-style: none;
    padding: 2px 2px;
    text-align:center;
    border-radius:8px;
    z-index:100;
}
ul.content li:hover {
    background: green;
    position:relative;
}

.show_info {
    width:60%;
    margin:0px auto;
    margin-top: 5px;
    text-align: left;
}
.show_info_session {
    margin:0px auto;
    margin-top: 5px;
    margin-left: 30px;
    text-align: left;
}
/* раздел для вызова выпадающего меню */
.btn-slide {
    /*background: transparent url("../images/login.gif") no-repeat scroll;*/
    text-align: center;
    width: 30px;
    height: 20px;
    padding: 10px 10px 0px 0px;
    margin: 0px auto;
    display: block;
    font: bold 120%/100% Arial, Helvetica, sans-serif;
    color: #FFF;
    text-decoration: none;
}
.slide :hover {
    color: black;
}
.active {
    background-image: url("https://cloclo22.datacloudmail.ru/weblink/view/LTay/hmNU4qsoq?etag=FCFE0E85C127C056CF07AA7070D527D12D2DFBC3&key=23383275a68e3ac3138ed0b0e969ee6f02a695a1");
}
/* конец раздела для вызова выпадающего меню */

/*Рисунок для кнопки авторизации*/
.submit
{
    background: none repeat scroll 0% 0% transparent;
    position: relative;
    right: -10px;
    top: -20px;

}
.submit button {
    padding: 0px;
    margin: 0px;
    border: medium none;
    background: none repeat scroll 0% 0% transparent;
    color: #22579E;
    font: bold 10px Arial;
    cursor: pointer;
}
/*Рамка вокруг активного поля ввода*/
/*INPUT.text*/
/*{*/
    /*background:url(../images/input.png) no-repeat; !* Фон *!*/
    /*border: none; !* Убираем рамку *!*/
    /*padding:1px;*/
    /*border-radius:3px;*/
/*}*/

/*Конец рамки вокруг активного поля ввода*/

/*Фильтр фильмов*/
.articles {
    margin-top: 30px;
    margin-bottom: 30px;
}

.article {
    color: #222;
    width: 30%;
    background: rgba(255,255,255,.9);
    border-spacing: 2px;
    border-color: gray;
    font-family: arial,sans-serif;
    border-bottom: 1px #e5e5e5 solid;
    float: left;
    border-radius:5px 5px 5px 5px;
}

.current .item {
    background: rgba(206,220,206,.9);

}

.item {
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius:5px 5px 5px 5px;

}

.item .source {
    margin-left: 20px;
}

.item .title {
    font-weight: bold;
}

.item .pubdate {
    margin-right: 20px;
}

.item .pubdate {
    text-align: right;
}

.description {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.description h1 {
    margin-top: 0px;
    font-size: 23px;
}